<nav class="navbar navbar-expand-lg navbar-light bg-light, cla" >
    <div class="container-fluid ">
      <a class="navbar-brand" routerLink="index"  style="font-style: italic; font-weight: bold; color: white;">Galerie de Produits</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink="produits" style="font-style: italic; font-weight: bold; color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Produits </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="formulaire"  style="font-style: italic; font-weight: bold; color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Créer un produit </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="categories"  style="font-style: italic; font-weight: bold; color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="formulairecat"  style="font-style: italic; font-weight: bold; color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Créer une Categorie</a>
          </li>
          <li class="nav-item">
            <div style="margin-left:570px ;">  <a class="nav-link active" aria-current="page"  style="font-style: italic; font-weight: bold; color: white; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">{{date|date:'shortDate'}} {{date|date:'mediumTime'}}</a></div>
          
          </li>
        </ul>
      </div>
    </div>
  </nav>